<header class="header">
    <div class="header__wrapper">
        <div class="logo">
            <img src="images/Enigmo Logo.svg" alt="enigmo" class="logo__img">
            <span class="logo__text">Финансовая Платформа</span>
        </div>
        <div class="header__icons">
            <a href="#" class="header__icons-link"><img src="images/default.svg" alt="Уведомления" class="header__icons-img"></a>
            <a href="#" class="header__icons-link"><img src="images/setting.svg" alt="Настройки" class="header__icons-img"></a>
            <a href="#" class="header__icons-link"><img src="images/news.svg" alt="Новости" class="header__icons-img"></a>
            <div class="header__login">
                <a href="#" class="header__icons-link"><img src="images/login.svg" alt="Вход" class="header__login-img"></a>
            </div>
        </div>
    </div>
</header>