<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-wrapper__links-block">
            <div class="footer-wrapper__links-block__item">
                <img src="images/footer-icons-1.svg" alt="Панель управления ">
                <a href="#"class="footer-wrapper__links-block__item-link">Панель управления </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <img src="images/i-process_footer.svg" alt="Процессы">
                <a href="#"class="footer-wrapper__links-block__item-link">Процессы </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <img src="images/i-MyOperations-footer.svg" alt="Операции">
                <a href="#"class="footer-wrapper__links-block__item-link">Операции </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <img src="images/structure-footer.svg" alt="Структура">
                <a href="#"class="footer-wrapper__links-block__item-link">Структура </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <img src="images/i_support.svg" alt="Техподдержка">
                <a href="#"class="footer-wrapper__links-block__item-link">Техподдержка </a>
            </div>
            
        </div>
        <div class="footer-wrapper-content">
            <p class="footer-wrapper-conten-text">© Все права защищены. Enigmo Financial Platform</p>
            <div class="footer-logo__wpapper">
               
                <a href="#" class="footer-link"><img src="images/EnigmoGoToSite.png" alt="Enigmo"></a>
            </div>

        </div>
    </div>
</footer>