<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-wrapper__links-block">
           <div class="footer-wrapper__links-block__links-item-wrapper">
            <div class="footer-wrapper__links-block__item">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/i-dashboard.svg" alt="Панель управления ">
            </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Панель управления </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/i-process_footer.svg" alt="Процессы">
                </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Процессы </a>
            </div>
            <div class="footer-wrapper__links-block__item mb-0">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/i-MyOperations-footer.svg" alt="Операции">
                </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Операции </a>
            </div>
           </div>
        
        <div class="footer-wrapper__links-block__links-item-wrapper">
            <div class="footer-wrapper__links-block__item">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/structure-footer.svg" alt="Структура">
                </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Структура </a>
            </div>
            <div class="footer-wrapper__links-block__item">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/i-education.svg" alt="Обучение">
                </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Обучение </a>
            </div>
            <div class="footer-wrapper__links-block__item mb-0">
                <div class="footer-wrapper__links-block__item_img-wrapper">
                <img src="images/i_support.svg" alt="Техподдержка">
                </div>
                <a href="#"class="footer-wrapper__links-block__item-link">Техподдержка </a>
            </div>
        </div>
        </div>
        <div class="footer-wrapper-content">
            
            <div class="footer-logo__wpapper">
               
                <a href="#" class="footer-link"><img src="images/EnigmoGoToSite.png" alt="Enigmo"></a>
            </div>
            <p class="footer-wrapper-conten-text">© Все права защищены. Enigmo Financial Platform</p>
        </div>
    </div>
</footer>