<div class="menu-block fixed-bottom">
    <div class="menu">
      <button class="menu__btn"> <a href="#" class="menu__link"><img src="images/menu-back-icons.svg" alt="Назад" class="menu__btn-img"></a></button>
      <button class="menu__btn"> <img src="images/notification.svg" alt="Уведомления" class="menu__btn-img"></a></button>
      <button class="menu__btn"> <img src="images/settings.svg" alt="Настройки" class="menu__btn-img"></a></button>
      <button class="menu__btn"> <a href="#" class="menu__link"><img src="images/support.svg" alt="Новости" class="menu__btn-img"></a></button>
      <button class="menu__btn"> <a href="#" class="menu__link"><img src="images/logout.svg" alt="Выход" class="menu__btn-img"></a></button>


    </div>
</div>