.not-found__img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 83px;
    height: 83px;
    margin-bottom: 2.125rem;
}
.not-found__number-text__red{
    color: $red;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.not-found__number-wrapper__pb{
    padding-bottom: 3.5rem!important;
}