@import 'vars';

.dashboard__slider-wrapper{
    margin-top: 	1.5625rem;
    padding: 0.5rem 	0.625rem;
    background: linear-gradient(150.37deg,#171717 5.51%,#1c1c1d 94.38%),#171717;
    -webkit-box-shadow: -7px -7px 10px rgba(43,43,43,.3), 7px 7px 10px rgba(0,0,0,.3);
    box-shadow: -7px -7px 10px rgba(43,43,43,.3), 7px 7px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    
}
.dashboard__slider{
    position: relative;
}
.dashboard__slider__item{
    background: url(../images/promo-1.png) no-repeat;
    background-size: cover;
    
}
.dashboard__slider__item-block{
    display: flex;
    align-items: flex-start;
    padding-left: 5.1875rem;
    padding-right: 6.875rem;
}
.dashboard__slider__item-content{
    padding-left: 3.3125rem;
    padding-top: 1.8125rem;

}
.dashboard__slider__item-title{
    font-size: 48px;
    line-height: 49px;
    font-family: 'Enigmo';
    color: $gray;
    margin-bottom: 0.5625rem;
}
.dashboard__slider__item__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
}
.dashboard__slider__item__text__link-wrapper{
    display: flex;
   align-items: center;
   margin-top: 1rem;
}
.dashboard__slider__item__text__link{
    display: flex;
    align-items: center;
    color: $green;
}
.dashboard__slider__item__text__link-img{
    margin-left: 	0.5rem;
}
.dashboard__slider,.courses__slider-mobi{
    .slick-prev{
        border: none;
        position: absolute;
        top: 50%;
        left: 14px;
        z-index: 9;
        transform: translateY(-50%);
        background-color: transparent;

    }
    .slick-next{
        border: none;
        position: absolute;
        top: 50%;
        right: 14px;
        z-index: 9;
        transform: translateY(-50%);
        background-color: transparent;
    }
    .slick-dots{
        position: absolute;
        bottom: -30px;
    
        display: block;
    
        width: 100%;
        padding: 0;
        margin: 0;
    
        list-style: none;
    
        text-align: center;
        li{
            position: relative;

        display: inline-block;

        width: 6px;
        height: 6px;
        margin: 0 5px;
        padding: 0;

    cursor: pointer;
        }
    }
    .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 6px;
    height: 6px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'Enigmo';
    font-size: 25px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 6px;
    height: 6px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: $green;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: $green;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: $green_text;
}

}
.courses__slider,.courses__slider-mobi{
    .slick-prev{
        border: none;
        position: absolute;
        top: 50%;
        left: -45px;
        z-index: 9;
        transform: translateY(-50%);
        background-color: transparent;

    }
    .slick-next{
        border: none;
        position: absolute;
        top: 50%;
        right:-45px;
        z-index: 9;
        transform: translateY(-50%);
        background-color: transparent;
    }
    .slick-dots{
        position: absolute;
        bottom: -30px;
    
        display: block;
    
        width: 100%;
        padding: 0;
        margin: 0;
    
        list-style: none;
    
        text-align: center;
        li{
            position: relative;

        display: inline-block;

        width: 6px;
        height: 6px;
        margin: 0 5px;
        padding: 0;

    cursor: pointer;
        }
    }
    .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 6px;
    height: 6px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'Enigmo';
    font-size: 25px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 6px;
    height: 6px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: $green;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: $green;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: $green_text;
}
.courses__slider__item{
    background: linear-gradient(165.56deg, #171717 6.88%, #1C1C1D 117.75%), #171717;
    box-shadow: inset -7px -7px 10px rgba(43, 43, 43, 0.3), inset 7px 7px 10px rgba(0, 0, 0, 0.3);
    padding: 1.25rem 1rem 1.5rem 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: $gray;
    &:hover{
        color: $green_text!important;
    }
}
.courses__slider__item__img-wrapper{
    width: auto;
    height: 156px;
}
.courses__slider__item__img{
    width: 100%;
    height: 100%;
}
.courses__slider__text-wrapper{
    margin-top:0.4375rem ;
    text-align: center;
}
.courses__slider__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
}
.courses__slider__title{
    font-size: 30px;
    line-height: 24px;
    
    margin-top: 	0.5rem;
}
}