@import 'vars';

.сonfirm-password__wrapper{
    background: url(../images/SignIn.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
}
.сonfirm-password__block{
    width: 412px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(150.37deg, #171717 5.51%, #1C1C1D 94.38%), #171717;
    box-shadow: -7px -7px 10px rgba(43, 43, 43, 0.3), 7px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0.9;
    padding-top: 2.6875rem;
}
.сonfirm-password__header-text{
    font-family: Enigmo;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .2px;
    color: #8c9c9a;
    padding-top: .9375rem;
}
.сonfirm-password__block-img{
    margin-top: 1.625rem;
    margin-bottom: 2.125rem;
}
.сonfirm-password__block-form{
    display: flex;
    flex-direction: column;
    
}
.сonfirm-password__block-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1rem;
    text-align: center;
}
.сonfirm-password__block-form__input{
    width: 330px;
    height: 45px;
    background: #131313;
    border-radius: 5px;
    border: none;
    padding: 	0.625rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $gray;
}
.сonfirm-password__block-form__btn{
    width: 225px;
    height: 38px;
    background: $black;
    border: 1px solid $green;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 3.125rem auto 0 auto;
    color: $green_text;
    &:hover{
        border: 1px solid $green_text;
    }
}